.Chat {
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.input-Submit {
    visibility: hidden;
}

.mymessage {
    display: flex;
    justify-content: flex-end;
}

.message-Form {
    width: 100%;
}