.Chat {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.Input-Submit {
    visibility: hidden;
}

.Mymessage {
    margin-right: 5px !important;
    display: flex;
    justify-content: flex-end;
}

.Message-Form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Input-Message {
    width: 100%;
}

.Field-Message{
    width: 100%;
    max-height: 80vh;
    overflow: auto;
}
.Field-Message .ui.comments{
    max-width: 100% !important;
}