.Register{
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}
Form{
    width: 100%;
}

.labelform{
    align-item: flex-start ;
}

.pagename{
    margin-bottom: 5vh;
}

.groupbutton{
    display: flex;
    justify-content: center;
}
