.Action-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 5vh;
    height: 100px;
}

.Login-Form {
    width: 100%;
}

.Form-title {
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
}

.Login{
    width: 100%;
}

.Login-button {
    width: 40%;
}

@media only screen and (max-width: 768px) {
    .Action-group {
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        height: 125px;
    }

    .GoToRegister-button {
        text-align: center;
    }

    .Login {
        width: 100%;
    }

    .Login-button {
        width: 100%;
    }

}


